body {
  font-family: Arial, sans-serif;
  background-color: #1d0245;
  padding: 20px;
  color:rgb(180, 206, 210)
}

.card1 {
  border: 4px solid #e1d1d1;
  padding: 16px;
  width: 250px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: rgb(65, 115, 207);
}

button {
  margin-top: 10px;
}
